.app {
  margin: 0;
  padding: 0px;
  background-color: rgba(192, 189, 189, 0.13);
  /* height:100vh; */
  object-fit: contain;
  position: relative;
}
.lets-go {
  position: fixed;
  bottom: 0;
  width: 93%;
  padding: 16px 24px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
.lets-go-button {
  padding: 10px 10px;
  border: none;
  background-color: rgba(238, 143, 159, 0.541);
  color: black;
  /* border-radius: 10px; */
}

/* HEADER DIV ---------------------------------------------------------------- */
.app-header {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(165, 47, 47, 0.274),
      rgba(165, 47, 47, 0.479)
    ),
    url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-logo {
  display: flex;
  margin: 10px 5px;
  align-items: center;
}

.app-image {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

.app-name {
  font-size: 30px;
  font-weight: 600;
  color: rgb(253, 250, 250);
}

.app-header-title {
  text-align: center;
  color: rgb(255, 252, 100);
  margin: 5px 10px;
  padding: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 25px;
}

/* BENFITS DIV--------------------------------------------- */
.app-benefits {
  border: 1px solid rgb(223, 226, 231);
  background-color: white;
  border-radius: 4px;
  margin: 10px 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.app-list {
  text-align: left;
  list-style: none;
  padding: 5px;
}

.app-list-item {
  padding: 2px;
  margin: 5px 5px;
}

.list-item-div {
  display: flex;
  align-items: center;
}
.item-icon {
  margin-right: 10px;
  font-size: 12px;
  color: rgb(241, 62, 92);
}

/* END BENFITS DIV--------------------------------------------- */

/* END HEADER DIV ----------------------------------------------- */

/* REVIEWS COMPONENT----------------------- */

.app-reviews {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(192, 189, 189, 0.13);
}

.reviews-title {
  text-align: left;
  margin: 10px 0px;
}

.reviews-title h1 {
  text-align: left;
  margin: 10px 5px;
  margin-left: 20px;
  color: rgb(87, 85, 85);
}

.reviews-intro {
  margin: 0px 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 300;
  font-size: 18px;
}

/* REVIEWS CARD ------------------------------*/
.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-review-card {
  display: column;
  margin: 5px 0px;
  padding: 20px;
  text-align: left;
  /* border: 1px solid yellow; */
}

.review-image {
  height: 200px;
  width: 100%;
  margin: 20px 0px;
  object-fit: scale-down;
  background-size: cover;
  -webkit-box-shadow: 2px -1px 15px 5px #a9a9a3;
  box-shadow: 2px -1px 15px 5px #a9a9a3;
}

.review-name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 9px;
  color: rgb(110, 108, 108);
}

.job {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(245, 184, 194);
}

.review-bio {
  text-align: left;
  margin-top: 10px;
}
.oneK {
  background-color: rgba(214, 145, 157, 0.418);
}
.twoC {
  background-color: rgba(79, 233, 79, 0.445);
}

.threeT {
  background-color: rgba(117, 173, 238, 0.301);
  margin-bottom: 0;
}
/* .review-content{

} */
/* FOOTER------------------------------ */
.app-footer {
  background-color: rgba(192, 190, 191, 0.514);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-left {
  margin: 10px 0px;
  padding: 10px;
}

.footer-column-title {
  font-weight: 600;
  font-size: 20px;
}
.contacts {
  list-style: none;
}
.footer-list-item {
  margin: 5px 0px;
  padding: 5px;
}

.footer-link {
  text-decoration: none;
  color: none;
}

.footer-link:active {
  color: rgb(87, 87, 243);
}
